*{
    margin: 0;
    padding: 0;
    background-color: rgb(181, 175, 175);
} 
.container{
    width: 1200px;
    margin-left: 200px;
    margin-right: 200px;
}
/* site nav started */
.site-start{
    width: 1200px;
    
}
.site-nav{
    width: 1200px;
    height: 50px;
    display: flex;
}
.site-nav-box{
    width: 1200px;
    height: 50px;
    background-color: #fff;
    display: flex;
    margin-bottom: 100px;
}
.site-log1{
    margin-left: 100px;
    background-color: #fff;
    font-size: 24px;
    font-family: Poppins;
    padding-top: 20px;

}
.site-log2{
    background-color: #fff;
    color: #777;
    font-size: 24px;
    font-family: Poppins;
    padding-top: 20px;

}
.site-nav-list{
    margin-left: 200px;
    background-color: #fff;
    padding-top: 20px;
    display: flex;

}
.site-nav-iteam{
    background-color: #fff;
    color: #333;
    font-family: Poppins;
    text-decoration: none;
    font-size: 18px;
    text-transform: capitalize;
    margin-left: 20px;
}
.site-nav-link{
    width: 120px;
    height: 30px;
    border: #333 solid 1px;
    border-radius: 4px;
    background-color: #fff;
    margin-left: 200px;
}
.site-nav-link-iteam{
    color: #333;
    text-decoration: none;
    font-size: 18px;
    font-family: Poppins;
    text-transform: capitalize;
    background-color: #fff;
    padding-left: 15px;
}
/* site nav finished */
/* head point started */
.site-head-point{
    width: 1200px;
    background-color: #fff;
}
.head-point{
    width: 1200px;
    background-color: #fff;
    display: flex;
}
.head-point-iteam{
    background-color: #fff;
}
.head-point-title{
    font-family: Poppins;
    font-size: 36px;
    text-transform: capitalize;
    font-weight: bold;
    background-color: #fff;
    padding: 120px 15px 40px 100px;
}
.head-point-text{
    font-family: Poppins;
    font-size: 15px;
    background-color: #fff;
    padding: 10px 0px 100px 100px;
}
.head-point-link{
    width: 300px;
    height: 80px;
    background-color: #555;
    border: #555 solid 1px;
    border-radius: 5px;
    margin-left: 100px;
}
.head-point-link-iteam{
    font-family: Poppins;
    font-size: 36px;
    text-decoration: none;
    background-color: #555;
    color: aliceblue;
    margin-left: 48px;
}
.head-point-first-img{
    background-color: #fff;
}
.head-point-first-img-iteam{
    width: 80px;
    background-color: #fff;
    position: relative;
    right: 130px ;
    top: 180px;
}
.head-point-second-img{
    background-color: #fff;
    margin-top: 10px;
}
/* head point finished */
/* second part started */
.second-part{
    width: 1200px;
    background-color: #fff;
}
.second-part-main{
    width: 1200px;
    background-color: #fff;
}
.second-part-title{
    background-color: #fff;
    font-family: poppins;
    font-size: 40px;
    text-transform: capitalize;
    text-align:center;
}
.second-part-sources{
    width: 250px;
    background-color: #fff;
    margin: 30px;
    display: flex;
    flex-wrap: nowrap;
    flex-basis: calc(33.3-90px);
}
/* box one */
.second-part-box-one{
    background-color: #999;
    height: 750px;
    border: #999 solid 1px;
    border-radius: 5px;
    margin-left: 150px;
}
.box-one-img{
    padding: 15px;
    width: 250px;

}
.box-one-title{
    text-transform: capitalize;
    font-size: 24px;
    font-weight: bolder;
    font-family: Poppins;
    padding: 15px;
}
.box-one-text , .box-one-text-two{
    font-size: 15px;
    font-family: Poppins;
    padding: 15px;
}
.box-one-link{
    width: 150px;
    height: 40px;
    background-color: #333;
    border: #333 solid 1px;
    border-radius: 5px;
    margin-left: 15px;
}
.box-one-link-iteam{
    text-decoration: none;
    color: aliceblue;
    background-color: #333;
    padding-left: 35px;
}
/* box two */
.second-part-box-two{
    width: 250px;
    height: 420px;
    margin-left: 15px;
    background-color: #999;
    border: #999 solid 1px;
    border-radius: 5px;
}
.box-two-img{
    width: 250px;
    height: 150px;
    
}
.box-two-title{
    text-transform: capitalize;
    font-size: 24px;
    font-weight: bolder;
    font-family: Poppins;
    padding-left: 15px;
}
.box-two-text{
    font-size: 15px;
    font-family: Poppins;
    padding: 15px;
}
.box-two-link{
    width: 150px;
    height: 40px;
    background-color: #333;
    border: #333 solid 1px;
    border-radius: 5px;
    margin-left: 15px;
}
.box-two-link-iteam{
    text-decoration: none;
    color: aliceblue;
    background-color: #333;
    padding-left: 35px;
}
/* box three */
.second-part-box-three{
    width: 500px;
    height: 350px;
    position: relative;
    top: 425px;
    right: 520px;
}
.box-three{
    width: 550px;
    height: 325px;
    display: flex;
    border: #333 solid 1px;
    border-radius: 5px;
}
.box-three-title{
    text-transform: capitalize;
    font-size: 24px;
    font-weight: bolder;
    font-family: Poppins;
    padding-left: 15px;
    padding-top: 35px;
}
.box-three-text{
    width: 250px;
    font-size: 15px;
    font-family: Poppins;
    padding: 15px;
}
.box-three-img{
    width: 250px;
    height: 200px;
    padding-top: 35px;
}
.box-three-link{
    width: 150px;
    height: 40px;
    background-color: #333;
    border: #333 solid 1px;
    border-radius: 5px;
    margin-left: 15px;
    margin-top: 25px;
}
.box-three-link-iteam{
    text-decoration: none;
    color: aliceblue;
    background-color: #333;
    padding-left: 35px;
}